.candy{
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background-image: url("../img/bubble_sprite_sheet.png");
	background-size: 400%;
}

.candy_0
{
	background-position: 0 0;
}
.candy_1
{
	background-position: 0 -60px;
}
.candy_2
{
	background-position: 0 -120px;
}
.candy_3
{
	background-position: 0 -180px;
}