@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: bisque;
}

#main{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	height: 738px;
	background: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50px;
	
	#top_bar{
		position: absolute;
		left: 0;
		top: 0;
		width: inherit;
		height: 70px;
		border-bottom: 1px solid black;
		border-radius: 50px 50px 0 0;
	}
	
	#side_bar{
		position: absolute;
		left: 0;
		top: 70px;
		width: 250px;
		height: 620px;
		border-right: 1px solid black;
	}
	
	#game{
		position: absolute;
		left: 250px;
		top: 70px;
		width: 750px;
		height: 620px;
		
		#board{
			position: absolute;
			left: 75px;
			top: 10px;
			width: 600px;
			height: 600px;
			background-color: rgba(0,0,180,.6);
			display: none;
		}
	}
	
	#footer_bar{
		position: absolute;
		left: 0;
		top: 690px;
		width: inherit;
		height: 48px;
		border-top: 1px solid black;
	}
	
	.dialog{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		//background-color: #166d3b;
		//background-image: linear-gradient(147deg, rgba(38, 179, 255,.9) 0%, rgba(0,0,0,.4) 74%);
		background-color: rgba(255,255,255,.4);
		border-radius: 20px;
		font-family: 'Architects Daughter', cursive;
		border: 3px solid black;
		
		h1{
			text-align: center;
			padding: 20px 100px;
			border-bottom: 3px solid black;
		}
		
		.menu_button{
			padding: 10px 0;
			position: relative;
			color: black;
			
			h2{
				padding-bottom: 3px;
				font-size: 30px;
				text-align: center;
				
				span{
					border-bottom: 1px solid black;
				}
			}
			
			&:first-of-type{
				margin-top: 20px;	
			}
			
			&:last-of-type{
				margin-bottom: 20px;
				border-bottom: none;
			}
			
			&:hover{
				color: black;
			}
			
			&:hover::before{
				display: block;
				content: "";
				position: absolute;
				top: 50%;
				left: 20%;
				transform: translate(-50%, -50%);
				width: 10px;
				height: 10px;
				background-color: black;
				border-radius: 50%;
			}
		}
	}
}